language: php
php:
- 7.1
- 7.2
- 7.3
install:
- composer install

jobs:
  include:
    - stage: Code Quality
      php: 7.3
      script: $TRAVIS_BUILD_DIR/vendor/bin/phpstan analyse -l 1 src

notifications:
  email: false